<body>
  
 
    <div class="well">
      <!---This section for panel component-->
 
      <div class="panel panel-primary">
        
        </div>
 
        <div class="panel-body">
          <!--This section for media-->
 
          <div class="media">
            <a class="pull-left" href="#"><iframe frameborder="0" height="315"
            src="//www.youtube.com/embed/1ryTz3mA3qc" width="420"></iframe></a>
 
            <div class="main-body">
              <!-- this section we will add information about the video-->
 
              <p><strong>Question 1 - Answer 1</strong> How to use the trigonometric ratio, tangent,to find the height of a balloon?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /container -->
